{% load static %}

<!-- <link rel="stylesheet" href="{% static 'semanal/css/style.css' %}"> -->

<h2>Informe semanal</h2>

<ul>
    <li><a href="{% url 'semanal:import_informe' %}">Importar informe semanal (documento ods, xls o xlsx)</a></li>
</ul>
<hr></hr>
<ul>
    <li>
        <a href="{% url 'semanal:index' %}">Home informe semanal</a></li>
    </li>
    <li>
        <a href="/admin">Admin</a></li>
    </li>
    <li>
        <a href="{% url 'semanal:imports' %}">Importar planillas</a></li>
    </li>
    <li>
        <a href="../static/semanal/swagger/index.html">API UI</a></li>
    </li>
    <li>
        <a href="/admin/logout">Logout</a></li>
    </li>
</ul>
